.header{
    background-color: #FFFFFF;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    height: 10%;
    align-items: center;
    position: relative
}

.header .header-logo-container .Link{
    position: relative;
}

.header .header-logo-container .header-logo-img{
    height: 80px;
    position: inherit;
    left: 10%;
}

.header .header-user-container{
    position: relative;
    text-align: right;
    padding-right: 5%;
}
.logout-button{
    text-decoration: none;
    color: #000000;
    
}
