.sidebar{
    position: relative;
    height: 100%;
    background-color: #336596; 
}
.sidebar .sidebar-entry{
    text-decoration: none;
    color: #FFFFFF;
    font-weight: 500;
    position: relative;
    top: 5%;
    left: 5%;
}
