.Tree{
    padding-top:  3%;
    padding-left: 5%;
    width: 90%;
}

.Tree p{
    line-height: 1rem;
}


.Tree .contact-name{
    font-weight: 600;
    font-size: 18px;
    color: #336596;
}
.Tree .contact-position{
    font-weight: 400;
    color: rgb(78, 78, 78);
}
.tree-info{
    margin-left: 20px !important;
}

.width{
    min-width: 60vw;
}